@{
    ViewData["Title"] = @ViewBag.MyString;
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <button class="btn btn-light btn-lg"><a href="/Home/Raportid">Raportid</a></button> 
</div>


